body {
  background-color:#000000;
  color:#FFCC00;
  font-family:"Ubuntu", Arial, sans-serif;
}
.callout {
  background-color:#FFCC00;
  color:#000000;
  border:8px solid #FFFFFF;
}
.animation {
  position:relative;
  animation-name: fadein;
  animation-duration: 3s;
  }
@keyframes fadein {
    from{opacity:0;}
    to{opacity:1;}
  }